Source: flisp
Section: lisp
Priority: optional
Maintainer: Georg Lehner <jorge@magma-soft.at>
Build-Depends: debhelper (>= 9), pandoc, graphviz, tidy

Package: flisp
Architecture: any
Depends: libc6, flisp-common
Description: fLisp - a tiny Lisp language interpreter
 fLisp is a tiny yet practical interpreter for a dialect of the Lisp
 programming language.
 .
 This package provides fLisp as a standalone command line interpreter.

Package: flisp-common
Architecture: all
Description: fLisp - a tiny Lisp language interpreter
 fLisp is a tiny yet practical interpreter for a dialect of the Lisp
 programming language.
 .
 This package provides the Lisp library.

Package: flisp-dev
Section: libdevel
Architecture: any
Depends: flisp-common (>= 0.15-2)
Description: fLisp - a tiny Lisp language interpreter - development
 fLisp is a tiny yet practical interpreter for a dialect of the Lisp
 programming language.
 .
 This package contains the header and development files needed to build
 programs and packages embedding fLisp.

Package: flisp-doc
Architecture: all
Description: fLisp - a tiny Lisp language interpreter - development
 fLisp is a tiny yet practical interpreter for a dialect of the Lisp
 programming language.
 .
 This package contains the documentation in POSHDOC (HTML) and Markdown format
